*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100%;
}
.body{
    height: 100vh;
    position: relative;
}
.logo img{
    cursor: pointer;
    width: 130px;
    height: auto;
}
.logo{
    margin-left: 100px;
    margin-top: 21px;
}
header{
    font-family: "inter",sans-serif;
    left: 0;
    top: 0;
    align-items: center;
    padding: 20px 50px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}
@font-face {
    font-family: "Destaque";
    src: url("../fonte/TBJMaltaMiniEdition-ExtLt-BF668d85fa62f0a.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.navbar li{
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar li:hover{
    transform: scale(1.1);
}
.navbar li a{
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.navbar{
    display: flex;
    gap: 30px;
    color: white;
}
.backgroundmain{
    position: absolute;
    width: 100%;
    height: 100vh;
}
.conteiner{
    position: relative
}
.capa{
    transition: background-image 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    background: url("../assets/nath.jpg") no-repeat center / cover;
    height: 100vh;
    width: 100%;
}
.opcoes{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opcoes img{
    margin-left: 50px;
    margin-bottom: 50px;
}
.opcoes p{
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    text-align: center;
    font-family: "Destaque",sans-serif;
    color: white;
    margin-bottom: 50px;
}
.slide{
    min-width: 300px;
    margin: 0 auto;
    gap: 300px;
    font-size: 40px;
    font-weight: 300;
    display: flex;
    justify-content: center;
}
.opcoes p:hover{
    cursor: pointer;
}

.off{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.on{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.caixa{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    border-radius: 52px;
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: auto;

}
.video img{
    width: 650px;
    height: auto;
    border-radius: 42px;
}
.texto p{
    text-align: left;
    font-size: 22px;
}
main{
    background-color: #2E2E2E;
    padding-bottom: 300px;
}
section{
    color: white;
    gap: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.apre{
    font-family: "inter", sans-serif;
    gap: 10px;
    width: 500px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
}
.borda{
    display: flex;
}
.borda img{
    min-width: 300px;
    width: 600px;
    height: auto;
}
.apre p{
    text-align: center;
}