*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
@font-face {
    font-family: 'FonteDestaque';
    src: url("../fonte/TBJMaltaMiniEdition-ExtLt-BF668d85fa62f0a.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
a{
    color: white;
}
body{
    font-family: "inter",sans-serif;
    overflow-x: hidden;
    background-color: black;
}
header{
    align-items: center;
    padding: 20px 50px;
    font-family: "inter",sans-serif;
    display: flex;
    justify-content: space-between;
}
.navbar{
    display: flex;
    gap: 30px;
}
.navbar li a{
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.navbar li{
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar li:hover{
    transform: scale(1.1);
}
.logo img{
    cursor: pointer;
    width: 130px;
    height: auto;
}
.logo{
    margin-left: 100px;
    margin-top: 21px;
}