main{
    background-color: #2e2e2e;
}

.principal{
    text-align: center;
    color: white;
    padding: 60px;
}
.principal h2{
    font-size: 66px;
    font-family: "Destaque",sans-serif;
    padding-bottom: 40px;
}
.principal p{
    font-size: 22px;
    font-family: "inter",sans-serif;
    font-weight: 400;
}
.backhand{
    min-width: 300px;
    width: 100%;
    min-height: 773px;
    background-repeat: no-repeat;
    background-image: url("../assets/sobrehand.jpg");
}

.backhand{
    display: flex;
    justify-content: right;
    padding: 2.5rem;
    min-width: 300px;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/sobrehand.jpg");
}

.sobreface{
    background: url("../assets/sobreface.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 674px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    perspective: 500px;
    transform-style: preserve-3d;
    padding-left: 125px;
}
.texto{
    font-family: "inter",sans-serif;
    color: white;
    display: flex;
    text-align: center;
    padding: 2.5rem;
    font-size: 22px;
    font-weight: 400;
    justify-content: center;
}